@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Roboto+Slab:wght@350&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Arvo', serif;
    font-family: 'Roboto Slab', serif;
}
/* header */
.logo{
    width: 50px;
    height: 50px;
    padding-left: 20px;
}
header{
    display: flex;
    justify-content: space-between;
    background: #6A92D8;
    position: sticky;
    top: 0;
    z-index: 99999;     
}
header nav{
    padding-right: 20px;
}
header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul li{
    padding: 10px;
    list-style: none;
}
header nav ul a {
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
}
#active{
border-bottom: 2px solid #fff;
}

.banner{
    color: #fff;
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/bg-1.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    -webkit-background-size:cover ;
    background-size:cover ;
    background-position:  center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heaading{
    width: 100%;
}
.heading-3{
    text-align:center;
    text-transform: uppercase;
    font-size: 1.7rem;
    letter-spacing: 3px;
    line-height: 1.7;
}
.heading-3 p{
    width: 100%;
}
.heading-3 span{
    font-size: 2.3rem;
}
.paragraph{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    letter-spacing: 2px;
}
.paragraph p{
    width: 50%;
    text-align: center;
    text-align-last: center;    
    line-height: 1.7;
}
/* button */
.banner .text .btn{
    text-align: center;
    margin: 20px;

}
.button {
    display: inline-block;
    background: #6A92D8;
    padding: 1rem;
    border-radius: 8px;
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 1px; 
}
/* container */
.container{
    width: 90%;
    margin-left: 5%;
}
.container .title{
    text-align: center;
    padding: 20px;
}
.container .title span{
    font-weight: bold;
    font-size: 2rem;
}
.information{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
.information img{
    width: 60%;
    border-radius: 15px 0 0 15px  ;
}
.container .text{
    box-sizing: border-box;
    width:40%;
    text-align: left;
    text-align-last:left;
    line-height: 2;
}
.container .text p{
    width: 95%;
    margin-left: 2.5%;
    margin-top: 5%;
    font-size: 1rem;
}
.container .btn{
    margin: 10px;
    margin-left: 25%;
    margin-top: 20%;
}
.container .button{
    width: 50%;
    display: block;
    margin: 10px;
}

.container .btn span{
    font-size: 0.8rem;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.container-1{
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0 20px 0;
}
.container-1 .text{
    width: 65%;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.container-1 .text p{
    width: 90%;
    margin-left:5%;
    padding: 10px;
}
.container-1 .text .button-1{
    width: 13%;
    font-size: 1rem;
    display: block;
    justify-content: stretch;
    align-items: center;
    margin: 10px;
    margin-left: 40%;
    margin-top: 5%;
}
.container-1 img{
    width: 300px;
    border-radius: 15px;
}
/* map */
.map iframe{
    width: 70%;
    height: 60vh;
    margin-left: 15%;
}
/* card */
.card{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}
.card-4{
    width: 330px;
    justify-content: space-between;
}
.card-4 .image{
    width: 330px;    
    border-radius: 15px;
    text-align: center;
}
.card-4 h2, p{
    width: 100%;
    line-height: 1.7;
}
.card-p{
    padding: 10px;
}
.border{
    width: 100%;
    padding: 0 0 25px 0;
}
.card-text{
    padding: 10px;
}
.card-text h3{
    padding:0 0 20px 0 ;
}
.card-6{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.card-6 .blue{
    width: 100%;
    height: 18px;
    background: #c4c4c4;
}
.blue-1{
    width: 80%;
    height: 18px;
    background:#6A92D8;
}
.blue-2{
    width: 70%;
    height: 18px;
    background:#6A92D8;
}
.blue-3{
    width: 60%;
    height: 18px;
    background:#6A92D8;
}
.blue-4{
    width: 60%;
    height: 18px;
    background:#6A92D8;
}
.blue-5{
    width: 55%;
    height: 18px;
    background:#6A92D8;
}
.blue-6{
    width: 55%;
    height: 18px;
    background:#6A92D8;
}
/* form */
form{
    padding: 10px;
}
.form-container{
    box-sizing: border-box;
    width: 50%;
    height: 114vh;
    margin: 10px;
    margin-left: 25%;
    background: #6A92D8;
    border-radius: 10px;
}
input,
textarea{
    border: none;
    background-color: #fff;
    border-radius: 7px;
}
textarea{
    height: 40vh;
}
.form-group{
    padding: 15px;    
}
.form-control{
    padding: 15px;
    width: 90%;
    margin-left: 5%;
    box-sizing: border-box;
    border-top: none;
    border-right: none;
}
.form-group .btn{
    width: 20%;
    margin-left: 40%;
    padding: 10px;
    border: none;
    border-radius: 7px;
    background:#fff;
    font-size: 1.3rem;
    color: #6A92D8;
    cursor: pointer;
}
::placeholder{
    color: #6A92D8;
    font-size: 1rem;
}
.no-resize{
    resize: none;
}
/* footer */
footer{
    font-size: 1.2rem;
    background: #6A92D8;
    color: #fff;
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    letter-spacing: 2px;
}
.social img{
    padding: 10px;
    width:  40px;
}
.side-right p{
    padding: 7px;
    width: 100%;
}
.address{
    padding: 7px;
    width: 30%;
    text-align: right;
    text-align-last: right;
}
.address p{
    width: 100%;
}
/* /responsive */
@media (max-width:1024px){
    /* navigaion bar */
    header nav ul a{
        font-size:1.3rem;
    }
    #active{
        border-bottom: 2px solid #fff;
    }
    /* banner */
    .heading-3{
        font-size: 1.5rem;
        letter-spacing: 2px;
        line-height: 1.7;
    }
    .heading-3 span{
        font-size: 2rem;
    }
    .paragraph{
        font-size: 1.5rem;
        letter-spacing: 1.7px;
    }
    .paragraph p{
        width: 50%;
        text-align: center;
        text-align-last: center;    
        line-height: 1.7;
    }
    /* button */
    .button {
        font-size: 1rem;
    }
    .information{
        flex-wrap: wrap;
    }
    .information img{
        width: 100%;
        border-radius:15px 15px  0 0 ;
    }
    .information .text{
        width: 100%;
    }
    /* container */
    .container .title span{
        font-weight: bold;
        font-size: 1.6rem;
    }
    .container .btn{   
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }
    .container .btn .button a{
          font-size: 2rem;
    }
    .container-1{
        width: 90%;
        flex-wrap: wrap;
    }
    .container-1 img{
        width: 400px;
        margin-bottom: 30px;
        border-radius: 15px;
    }
    .container-1 .text .button-1{
        width: 115px;
        box-sizing: border-box;
        font-size: 0.9rem;
        margin-left: 40%;
        display: flex;
        justify-self: center;
        align-items: center;
    }
    .container-1 .text{
        width: 100%;
        padding:0 20px 0 0;
        background: #FFFFFF;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;        
    }
    .container-1 .text p{
        width: 90%;
        margin-left:5%;
        padding: 10px;
    }
    /* map */
    .map iframe{
        width: 90%;
        margin-left: 5%;
    }
    /* form */
    form{
        padding: 20px 0 20px 0;
    }
    .form-container{
        box-sizing: border-box;
        width: 70%;
        height: 90vh;
        margin-left:15%;
        padding: 0;
        background: #6A92D8;
        border-radius: 9px;
    }
    textarea{
        height: 25vh;
    }
    .form-group{
        padding: 10px;   
    }
    input,
    textarea{
    border: none;
    background-color: #fff;
    border-radius: 7px;
    }
    .form-control{
        padding: 15px;
        width: 90%;
        margin-left: 5%;
        box-sizing: border-box;
        border-top: none;
        border-right: none;
    }
    .form-group .btn{
        width: 20%;
        margin-left: 40%;
        padding: 7px;
        border: none;
        border-radius: 7px;
        background:#fff;
        font-size: 1rem;
        color: #6A92D8;
        cursor: pointer;
    }
    ::placeholder{
        font-size: 0.9rem;
    }
    .no-resize{
        resize: none;
    }
     /* card */
     .card-4{
        width: 250px;

    }
    .card-4 .image{
        width: 250px;    ;
    }
    .card-p{
        font-size: 0.9rem;  
    }
    .card-6 .blue{
        height: 14px;
    }
    .blue-1{
        height: 14px;
    }
    .blue-2{
        height: 14px;
    }
    .blue-3{
        height: 14px;
    }
    .blue-4{
        height: 14px;
    }
    .blue-5{
        height: 14px;
    }
    .blue-6{
        height: 14px;
    }
    /* footer */
    footer{
        font-size: 1rem;
    }
    .social img{
        padding: 10px;
        width: 30px;
    }
    .address{
        width: 35%; 
    }
}
@media(max-width:768px){
    header nav ul a{
        font-size: 1rem;
    }
    #active{
        border-bottom: 2px solid #fff;
    }
    .heading-3{
        font-size: 1.7rem;
    }
    .heading-3 span{
        font-size: 2rem;
    }
    .paragraph{
        font-size: 1.7rem;
    }
    .paragraph p{
        width: 85%;
    }
    /* button */
    .text .btn{
        text-align: center;
        margin: 50px;
    }
    .button {
        font-size: 1rem;
    }
    /* container */
    .container .title span{
        font-weight: bold;
        font-size: 1.3rem;
    }
    .container .btn{    
        width: 60%;
        margin-left: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }
    .container .btn span{
          font-size: 0.8rem;
    }
    ::placeholder{
        font-size: 0.9rem;
    }
    .no-resize{
        resize: none;
    }
    /* card */
    .card-4{
        width: 190px;
    }
    .card-4 .image{
        width: 190px;  
    }
    .card-p{
        font-size: 0.67rem;  
    }
    .card-6 .blue{
        height: 12px;
    }
    .blue-1{
        height: 12px;
    }
    .blue-2{
        height: 12px;
    }
    .blue-3{
        height: 12px;
    }
    .blue-4{
        height: 12px;
    }
    .blue-5{
        height: 12px;
    }
    .blue-6{
        height: 12px;
    }
    /* footer */
    footer{
        font-size: 0.8rem;
    }
    .info{
        padding: 10px;
    }
    .social{
        text-align: center;
    }
    .social img{
        width: 30px;
    }
    .address{
        padding: 0;
        width: 35%;
    }
}
@media(max-width:540px){
    /* navigation */
    .logo{
        display: none;
    }
    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header nav ul{
        display: block;
        text-align: center;
    }
    header nav ul li{
        padding: 5px;
    }
    header nav ul a {
        font-size: 1rem;    
    }
    #active{
        border-bottom: 2px solid #fff;
        }
    .heading-3{
        font-size: 1.3rem;
    }
    .heading-3 span{
        font-size: 2rem;
    }
    .information .text p{
        font-size: 0.9rem;
    }
    .paragraph{
        font-size: 0.8rem;
    }
    .paragraph p{
        width: 90%;
    }
    /* buttom &container*/ 
    .container .title span{
        font-weight: bold;
        font-size: 1.2rem;
    }
    .container .btn{     
        width: 70%;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .container .title h1{
        font-size: 1rem;
    }
    .container-1 .text .button-1{
        margin-left: 35%;
    }
    .container-1 img{
        width: 350px;
    }
    /* card */
    .card-4{
        width: 120px;
    }
    .card-4 .image{
        width: 120px;  
    }
    .card-p{
        font-size: 0.45rem;  
    }
    .card-4 h2, p{
        width: 90%;
        line-height: 1.3;
    }
    .card-p{
        padding: 7px;
        display: block;
    }
    .card-6{
        width: 100%;
        display: block;
    }
    .card-6 .blue{
        height: 10px;
    }
    .blue-1{
        height: 10px;
    }
    .blue-2{
        height: 10px;
    }
    .blue-3{
        height: 10px;
    }
    .blue-4{
        height: 10px;
    }
    .blue-5{
        height: 10px;
    }
    .blue-6{
        height: 10px;
    }
    /* map */
    .map iframe{
        width: 90%;
        height: 30vh;
        margin-left: 5%;
    }
    /* form */
    form{
        padding: 5px 0 0 0 ;
    }
    .form-container{
        width: 90%;
        margin-left: 5%;
        height: 55vh;
    }
    textarea{
        height: 15vh;
    }
    .form-group{
        padding: 10px;    
    }
    .form-control{
        padding: 10px;
        width: 90%;
        margin-left: 5%;
    }
    .form-group .btn{
        font-size: 0.8rem;
        width: 30%;
        margin-left: 35%;
    }
    /* footer */
    footer{
        font-size: 0.7rem;
    }
    .info{
        display: block;
        justify-content: center;
        align-items: center;
        padding: 10px;
        letter-spacing: 1.4px;
    }
    .social{
        text-align: center;
    }
    .social img{
        width: 40px;
    }
    .side-right p{
        padding: 7px;
    }
    .address{
        padding: 10px;
        width: 90%;
        text-align: left;
        text-align-last: left;
    }   
}