*{
    margin: 0;
    padding: 0;

}
/* header */
.logo{
    width: 50px;
    height: 50px;
    padding-left: 20px;
}
header{
    display: flex;
    justify-content: space-between;
    background: #6A92D8;
    position: sticky;
    top: 0;
    z-index: 99999;     
}
header nav{
    padding-right: 20px;
}
header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul li{
    padding: 10px;
    list-style: none;
}
header nav ul a {
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
}
#active{
border-bottom: 2px solid #fff;
}

.banner{
    color: #fff;
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/bg-1.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    -webkit-background-size:cover ;
    background-size:cover ;
    background-position:  center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading-3{
    text-align:center;
    text-transform: uppercase;
    font-size: 1.7rem;
    letter-spacing: 3px;
    line-height: 1.7;
}
.heading-3 span{
    font-size: 2.3rem;
}
.paragraph{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    letter-spacing: 2px;
}
.paragraph p{
    width: 45%;
    text-align: center;
    text-align-last: center;    
    line-height: 1.7;
}
/* button */
.text .btn{
    text-align: center;
    margin: 50px;
}
.button {
    display: inline-block;
    background: #6A92D8;
    padding: 1rem;
    border-radius: 8px;
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 1px; 
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
/* footer */
footer{
    font-size: 1.5rem;
    background: #6A92D8;
    color: #fff;
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    letter-spacing: 2px;
}
.social img{
    padding: 10px;
    width: 40px;
}
.side-right p{
    padding: 7px;
}
.address{
    padding: 10px;
    width: 30%;
    text-align: right;
    text-align-last: right;
}

/* /responsive */
@media (max-width:1024px){
    /* navigaion bar */
    header nav ul a{
        font-size:0.9rem;
    }
    #active{
        border-bottom: 1.5px solid #fff;
    }
    /* banner */
    .heading-3{
        font-size: 1.5rem;
        letter-spacing: 2px;
        line-height: 1.7;
    }
    .heading-3 span{
        font-size: 2rem;
    }
    .paragraph{
        font-size: 1.5rem;
        letter-spacing: 1.7px;
    }
    .paragraph p{
        width: 50%;
        text-align: center;
        text-align-last: center;    
        line-height: 1.7;
    }
    /* button */
    .button {
        font-size: 1rem;
    }
    /* footer */
    footer{
        font-size: 1.2rem;
    }
    .social img{
        padding: 10px;
        width: 30px;
    }
    .address{
        width: 35%; 
    }
}
@media(max-width:500px){
    /* navigation */
    .logo{
        display: none;
    }
    header nav ul{
        display:block;
        text-align: center;
    }
    .heading-3{
        font-size: 1.3rem;
    }
    .heading-3 span{
        font-size: 2rem;
    }
    .paragraph{
        font-size: 1rem;
    }
    .paragraph p{
        width: 90%;
    }
    /* footer */
    footer{
        font-size: 1.2rem;
    }
    .info{
        display: block;
        justify-content: center;
        align-items: center;
        padding: 10px;
        letter-spacing: 1.4px;
    }
    .social{
        text-align: center;
    }
    .social img{
        padding: 10px;
        width: 30px;
    }
    .side-right p{
        padding: 7px;
    }
    .address{
        padding: 10px;
        width: 90%;
        text-align: left;
        text-align-last: left;
    }
    
}
