*{
    margin: 0;
    padding: 0;

}

/* /responsive */
@media (max-width:480px) {
    .logo{
        display: none;
    }
    header{
        background: #6A92D8;
        position: sticky;
        top: 0;
        z-index: 99999;     
    }
    header nav{
        text-align: center;
        padding-right: 20px;
    }
    header nav ul li{
        padding: 10px;
        list-style: none;
    }
    header nav ul a {
        color: #fff;
        font-size: 1.2rem;
        text-decoration: none;
    }
    #active{
       border-bottom: 2px solid #fff;
    }
    /* banner */
    .banner{
        color: #fff;
        width: 100%;
        background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/bg-1.jpg);
        background-repeat: no-repeat;
        height: 100vh;
        -webkit-background-size:cover ;
        background-size:cover ;
        background-position:  center;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .heading-3{
        text-align:center;
        text-transform: uppercase;
        font-size: 1.3rem;
        letter-spacing: 7px;
    }
    .heading-3 span{
        font-size: 1.5rem;
    }
    .paragraph{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.7rem;
        letter-spacing: 1px;
    }
    .paragraph p{
        width: 55%;
        text-align: center;
        text-align-last: center;    
    }
    .text .btn{
        text-align: center;
    margin: 50px;
    }
    .button {
        display: inline-block;
        background: #6A92D8;
        padding: 1rem;
        border-radius: 8px;
        color: #fff;
        text-transform: capitalize;
        text-decoration: none;
        font-size: 1rem;
        letter-spacing: 3px;
        transition: all .3s;
        position: relative;
        overflow: hidden;
        z-index: 1;
    }
    footer{
        font-size: 0.5rem;
        background: #6A92D8;
        color: #fff;
    }
    .info{
        padding: 20px;
        letter-spacing: 3px;
        text-align: center;
    }
    .social img{
        width: 10px;
    }
    .side-right p{
        text-align: left;
        text-align-last: left;
        padding: 2px;
    }
    .address{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35%;
        text-align: right;
        text-align-last: right;
    }
}
@media (max-width:1024) {
    
}
@media (min-width:800px) {
    /* navigaion bar */
    .logo{
        width: 50px;
        height: 50px;
        padding-left: 20px;
    }
    header{
        display: flex;
        justify-content: space-between;
        background: #6A92D8;
        position: sticky;
        top: 0;
        z-index: 99999;     
    }
    header nav{
        padding-right: 20px;
    }
    header nav ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header nav ul li{

        padding: 10px;
        list-style: none;
    }
    header nav ul a {
        color: #fff;
        font-size: 1.2rem;
        text-decoration: none;
    }
    #active{
       border-bottom: 2px solid #fff;
    }
    /* banner */
    .banner{
        color: #fff;
        width: 100%;
        background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/bg-1.jpg);
        background-repeat: no-repeat;
        height: 100vh;
        -webkit-background-size:cover ;
        background-size:cover ;
        background-position:  center;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .heading-3{
        text-align:center;
        text-transform: uppercase;
        font-size: 2.3rem;
        letter-spacing: 7px;
    }
    .heading-3 span{
        font-size: 3rem;
    }
    .paragraph{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.9rem;
        letter-spacing: 3px;
    }
    .paragraph p{
        width: 55%;
        text-align: center;
        text-align-last: center;    
    }
    .text .btn{
        text-align: center;
    margin: 50px;
    }
    .button {
        display: inline-block;
        background: #6A92D8;
        padding: 1rem;
        border-radius: 8px;
        color: #fff;
        text-transform: capitalize;
        text-decoration: none;
        font-size: 1.3rem;
        letter-spacing: 3px;
        transition: all .3s;
        position: relative;
        overflow: hidden;
        z-index: 1;
    }
    footer{
        font-size: 1.5rem;
        background: #6A92D8;
        color: #fff;
    }
    .info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        letter-spacing: 3px;
    }
    .social img{
        width: 40px;
    }
    .side-right p{
        padding: 7px;
    }
    .address{
        padding: 10px;
        width: 35%;
        text-align: right;
        text-align-last: right;
    }
}
